/*Developer info card*/
.card {
  position: fixed;
  white-space: nowrap;
  overflow: hidden;
  min-width: 300px;
  padding-block: 15px;
  padding-inline: 20px;
  bottom: 0;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 4px 8px 0 rgba(165, 148, 148, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: slide-to-left 1s forwards;
}
/*Show card on hover*/
.card:hover {
  animation: slide-to-right 1s forwards;
}

.card-subtitle {
  transform: rotate(90deg);
  color: white;
  position: fixed;
  margin: auto;
  right: -30px;
  top: 43%;
}

@keyframes slide-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-95%);
  }
}

@keyframes slide-to-right {
  0% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(0);
  }
}
