/*Developer info card*/
.card {
  position: fixed;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
  padding-inline: 15px;
  padding-block: 15px;
  max-height: 18%;
  bottom: 0;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 4px 8px 0 rgba(165, 148, 148, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease-in-out;
}

.card_open {
  padding-inline: 50px;
}

.card-subtitle {
  transform: rotate(90deg);
  color: white;
  position: fixed;
  margin: auto;
  left: -20px;
  bottom: 40px;
}

.card-subtitle:hover {
  transform: scale(1.1) rotate(90deg);
  transition: all 0.5s ease-in-out;
}
